*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	background-image: url("./img/slide-10.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
header{
	display: flex;
	justify-content: space-between;
	background-color: rgba(255,255,255,0.8);
	padding-left: 13%;
	padding-right: 1%;
	height: 10.5vh;
}
header img{
	height: 77%;
	width: 61%;
}
header a{
	display: block;
	margin: 0;
	font-size: 10px;
	color: #337ab7;
	text-decoration: none;
}
header .right{
	margin: 8px 0;
}
header .right h3{
font-size: 1.25rem;
color: #333333;
}
header .right select{
	float: right;
	margin: 5px 0;
	background-color: rgba(255,255,255,0.3);
	height: 20px;
}
section{
		padding-left: 13%;
}
section .login-options {
	display: flex;
	flex-wrap: wrap;
	padding-top:18px; 
}

section .login-options .card{
	width: 140px;
	height: 140px;
	background-color: green;
	margin: 3px;
	border-radius: 10px;
	border:1px solid #fff;
	text-align: center;
	padding-top: 20px;
	color: #fff;
}
section .login-options .card i{
	font-size: 2.3rem;
}
section .login-options .card p{
	font-size: 0.9rem;
	width: 50%;
	margin: 5px auto;
	margin-top: 12px;
	line-height: 20px;
}
section .login-options  .first{
	background-color: #337ab7;
}

section .login-options  .second{
	background-color: #398439;
}
section .login-options  .third{
	background-color: #5bc0de;
}
section .login-options  .forth{
	background-color: #F64E60;
}
section .login-options  .fifth{
	background-color: #d58512;
}
section .login-options  .sixth{
	background-color: #8E44AD;
}
section .login-options  .seventh{
	background-color: #e6cb0a;
}

section .login-options .card:hover{
	background-color: #fff;
	cursor: pointer;
	color: #F64E60;
}


.notice-section{
	display: flex;
	flex-wrap: wrap;
	padding:25px 0px; 
}

.cont{
	margin: 0 15px;
}
.cont1{
	margin-left: 0;
}
.cont h3{
	background-color: #eee5ff;
	margin:0 ;
	padding: 10px 10px;
}
.cont1 h3{
	width: 370px;
}
.cont2 h3{
	width: 270px;
}
.cont3 h3{
	width: 470px;
}
.notice-section .notice{
background-color: #fff;
border-radius: 10px;
border-bottom-right-radius: 0;
border-top-left-radius: 0;
border-left:12px solid #eee5ff; 
overflow: scroll; 
position: relative;
}
.notice-section .Notice-Board{
	width: 370px;
	height: 270px;
	margin-left: 0;
}
.notice-section .Forms{
	width: 270px;
	height: 270px;
}
.notice-section .Important-Dates{
	width: 470px;
	height: 270px;
}
.notice-section .notice p{
	color: #555;
	font-size: 0.8rem;
	height: 50px;
	border-bottom:0.1px solid lightgray;
	padding:5px 8px;
}

.notice-section .notice p i{
	font-size: 1rem;
	margin: 2px 8px;
	color: #F64E60;
}
.Important-Dates table{
	width: 100%;
	font-size: 0.9rem;
}

.Important-Dates table ,tr,td{
	border: 0.1px solid lightgray;
	border-collapse: collapse;
	padding: 15px 10px;
}
.Important-Dates table tr th{
	height: 35px;
}

.Important-Dates table tr td{
	width: 50px;
	
}
.Important-Dates table tr .sec{
	width: 150px;
	padding: 0 10px;
}


footer{
	position: absolute;
	bottom: 0;
	height: 70px;
	background-color: #033364 !important;
	width: 100%;
	display: flex;
	color: #fff;
	justify-content: space-between;
	padding-left: 13%;
	align-items: center;
	padding-right: 10%;
}
footer .creater p{
	color: #B5B5C3 !important;
	font-size: 0.8rem; 
}
footer .creater p span{
	color: #fff;

}
footer .contact {
	display: flex;
	font-size: 0.8rem;
	align-items: center;
}
footer .contact a{
	height: 35px;
	background-color: #fff;
	color: #000;
	margin: 0 10px;
	width: 250px;
	display: flex;
	align-items: center;
	border-radius: 5px;
	text-decoration: none;
	font-size: 0.9rem;
}
footer .contact a i{
	font-size: 1.01rem;
	color: black;
	margin: 5px;
	font-size: 1.2rem;
}
footer .contact p{
	color: #B5B5C3 !important;
}